/*-----------------------
        Google Font
------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* -------------------------------------
        Universial Section
---------------------------------------- */

:root {
    --primary-color: #E02C6D;
    --heading-color: #18191F;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

hr {
    border: 3px solid var(--primary-color);
    width: 30%;
    margin-bottom: 50px;
}

/*----------------------------------- 
          Top Header Section
------------------------------------- */
header {
    height: 552px;
    width: 100%;
    background: darkblue;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-title {
    color: white;
    font-size: 64px;
    font-weight: bold;
}

.link-btn {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
    padding: 10px 24px;
    background: var(--primary-color);
}

.link-btn:hover {
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    background: #d30550;
}

.header-banner {
    margin-top: 40px;
    transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
}

.header-banner:hover {
    transform: scale(1.15);
    transition: transform 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/*----------------------------------- 
         Top Player Section
------------------------------------- */

.container {
    width: 1050px;
    margin: 70px auto;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: center;
    margin-bottom: 100px;
}

.player {
    height: 458px;
    width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 10px 15px 10px;
    box-shadow: 0 0 5px 0 lightgray;
}

.player-info {
    width: 300px;
}

.player-info h3 {
    color: var(--heading-color);
    font-size: 28px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 0px;
}

.player-info p {
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* -------------------------------
         Latest News 
-------------------------------- */
.news-section h2 {
    color: var(--heading-color);
    text-align: center;
}

.news-case {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    margin-bottom: 100px;
}

.news {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    padding: 10px;
    box-shadow: 0 0 5px 0 lightgray;
}

.thumbnail {
    flex-grow: 1;
}

.thumbnail img {
    height: 120px;
    width: 180px;
}

/* -----------------------------
            News Form
----------------------------- */

.news-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: darkblue;
    padding: 84px 0;
}

.news-form form {
    display: flex;
    align-items: center;
}

.news-form h3 {
    color: white;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 30px;
}

.news-form input {
    border: none;
    padding: 15px 80px;
    margin-right: 5px;
    outline: none;
}

/* ------------------------------------------
                 Footer Section
------------------------------------------- */

footer {
    height: 213px;
    width: 483.87px;
    margin: 0 auto;
}

.social-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.logo img {
    height: 110px;
    width: 400px;
}

.social-button {
    font-size: 1em;
    color: gray;
    margin: 5px;
    padding: 10px;
    background: lightgrey;
    border-radius: 50%;
}

.social-button:hover {
    color: white;
    background: var(--primary-color);
}


.social-section p {
    font-size: 18px;
    color: #000000;
}

/* ----------------------------------------
    Media Queary For Mobile Devices
----------------------------------------- */

@media only screen and (max-width: 688px) {
    header {
        height: 750px;
        width: 100%;
    }

    .top-header {
        flex-direction: column;
    }

    .header-title {
        font-size: 36px;
    }

    .header-banner {
        margin-top: 80px;
    }

    .header-banner img {
        width: 100%;
    }

    .container {
        width: auto;
    }

    .players {
        grid-template-columns: repeat(1, 1fr);
    }

    .player {
        width: auto;
        margin: auto;
        padding: 15px;
    }

    .news {
        height: 350px;
        flex-direction: column;
        width: 75%;
        margin: auto;
    }

    .thumbnail img {
        width: 250px;
    }

    .news-form h3 {
        text-align: center;
    }

    .news-form form {
        flex-direction: column;
    }

    .news-form input {
        margin-bottom: 10px;
    }

    footer {
        width: 100%;
    }

    .logo img {
        height: 77px;
        width: 247px;
    }
}